<h1 class="text-center mt-4"> Create a New Category </h1>


<%= render 'form'%>

<div class = "mb-3">
  <%= link_to '[ Cancel and return to category listing ]', categories_path, class: "row justify-content-center"%>
</div>
